
.treeview {
    font-size: 2em;
}

ul { list-style:none; }

li { padding-top:10px }

ul.left, li.left, div.left { float:left }

ul, li { width:100% }

.expand { width:15px;height:15px; }

.collapse { width:15px;height:15px;display:none }

.form-group {
    padding-right: 10px;
}

span.min-max {
    text-align: center;
    width:100px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 0 !important;
    background-color: #828282;
    color: white;
}
